@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

:root {
  --primary-color: #1769aa;
  --accent-color: #00e5ff ;
  --background: #D6D4D4;
  --background-contrast: #111111; 
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.15rem;
  background-color: "D6D4D4";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
